@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html{
    overflow-x: hidden;
}

body{
    overflow: hidden;
    margin: 0px;
    font-family: 'Mukta', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}


/*header*/
.header{
    height: 100px;
    align-items: center;
    display: grid;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.header .header__container{
    width: 100%;
}

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container .header__content .header__heading a{
    text-decoration: none;
}

.header .header__container .header__content .header__heading a h1{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

.header .header__container .header__content .header__heading a h1 span{
    color: #ce6d06;
}



.header .header__container .header__content .header__menu ul{
    display: flex;
    list-style: none;
}


.header .header__container .header__content .header__menu ul li{
    margin: 0 15px;
    font-size: 20px;
    font-weight: 600;
    color: #bdbfc1;
}


.header .header__container .header__content .header__buy{
    display: flex;
    align-items: center;
}

.header .header__container .header__content .header__buy i{
    font-size: 20px;
    color: #666;
}

.header .header__container .header__content .header__buy p{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 40px;
    background-color: #ce6d06;
    color: #fff;
    border-radius: 30px;
    margin: 0 20px;
}

/*header*/

/*banner*/

.banner{
    background-image: url(https://wp.w3layouts.com/coffeecafe/wp-content/themes/coffee-cafe/assets/images/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(10 10 10 / 52%);
    z-index: -1;
}

.banner .banner__container .banner__content{
    max-width: 650px;
    z-index: 1;
    top: 70%;
    transform: translateY(-70%);
    position: absolute;
}


.banner .banner__container .banner__content h2{
    font-size: 60px;
    color: #fff;
}

.banner .banner__container .banner__content p{
    font-size: 19px;
    color: #f8f9fa;
    font-weight: 600;
    padding-bottom: 50px;
}

.banner .banner__container .banner__content a{
    font-size: 18px;
    padding: 10px 40px;
    text-decoration: none;
    background-color: #ce6d06;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
}


/*banner*/

/*wwa*/
.wwa{
    padding: 48px 0;
}

.wwa .wwa__container{
    padding: 48px 0;
}

.wwa .wwa__container .wwa__content{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    align-items: center;
}

.wwa .wwa__container .wwa__content .wwa__best{
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 15px;
}

.wwa .wwa__container .wwa__content .wwa__best span{
    font-size: 17px;
    font-weight: 800;
    color: #666;
}

.wwa .wwa__container .wwa__content .wwa__best h3{
    font-size: 38px;
    color: #3f3a64;
    font-weight: bold;
}

.wwa .wwa__container .wwa__content .wwa__best p{
    font-size: 20px;
    font-weight: 500;
    color: #a5a2a2;
    margin-bottom: 48px;
}

.wwa .wwa__container .wwa__content .wwa__best a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 40px;
    background-color: #ce6d06;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
}

.wwa .wwa__container .wwa__content .wwa__img{
    flex: 0 0 23.3333333333%;
    max-width: 23.3333333333%;
    padding: 0 15px;
}

.wwa .wwa__container .wwa__content .wwa__img img{
    display: block;
    border-radius: 10px;
    transition: all 0.2s linear;
}

.wwa .wwa__container .wwa__content .wwa__img img:hover{
    transform: translateY(-10px);
}

/*wwa*/

/*op*/
.op{
    padding: 48px 0;
    background-color: rgb(237 233 225 / 35%);
}

.op .op__container{
    padding: 48px 0;
}


.op .op__container .op__content{
    text-align: center;
}

.op .op__container .op__content span{
    font-weight: 800;
    color: #666;
}

.op .op__container .op__content h3{
    font-size: 40px;
    color: #3f3a64;
}

.op .op__container .op__image{
    padding: 48px 0;
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.op .op__container .op__image .op__item{
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 15px;
}

.op .op__container .op__image .op__item .op__all{
    background-color: #fff;
    border-radius: 10px;
}


.op .op__container .op__image .op__item .op__all .op__img img{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.op .op__container .op__image .op__item .op__all .op__text{
    padding: 30px;
}

.op .op__container .op__image .op__item .op__all .op__text a{
    text-decoration: none;
    font-size: 25px;
    font-weight:600;
    color: #3f3a64;
}

.op .op__container .op__image .op__item .op__all .op__text p{
    font-size: 18px;
    font-weight: 600;
    color: #666;
}

/*op*/

/*os*/
.os{
    background-color: #fff;
    padding: 48px 0;
}

.os .os__container{
    padding: 48px 0;
}

.os .os__container  .os__content{
    display: flex;
    margin-right: -15px;
}

.os .os__container  .os__content .os__text{
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 30px;
}

.os .os__container  .os__content .os__text span{
    font-size: 17px;
    font-weight: bold;
    color: #666;
}

.os .os__container  .os__content .os__text h3{
    font-size: 45px;
    color: #3f3a64;
}

.os .os__container  .os__content .os__text p{
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
    font-weight: 500;
}

.os .os__container  .os__content .os__text a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 50px;
    background-color: #ce6d06;
    color: #fff;
    border-radius: 25px;
    display: inline-block;
    margin-top: 20px;
}


.os .os__container  .os__content .os__item{
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.os .os__container  .os__content .os__item .os__all{
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
    padding: 0 15px;
}

.os .os__container  .os__content .os__item .os__all .os__icon p i{
    font-size: 30px;
    color: #ce6d06;
}

.os .os__container  .os__content .os__item .os__all .os__icon a{
    text-emphasis: none;
    font-size: 28px;
    text-decoration: none;
    font-weight: bold;
    color: #3f3a64;
    padding: 10px 0;
    display: inline-block;
}

.os .os__container  .os__content .os__item .os__all .os__icon p{
    font-size: 20px;
    color: #666;
    font-weight: 500;
}

/*os*/

/*pg*/

.pg{
    padding: 48PX 0;
    background-color: rgb(237 233 225 / 35%);
}

.pg .pg__container{
    padding: 48px 0;
}

.pg .pg__container .pg__content .pg__heading{
    text-align: center;
}

.pg .pg__container .pg__content .pg__heading span{
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

.pg .pg__container .pg__content .pg__heading h3{
    font-size: 40px;
}

.pg .pg__container .pg__content .pg__image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.pg .pg__container .pg__content .pg__image .pg__all{
    position: relative;
}

.pg .pg__container .pg__content .pg__image .pg__all .pg__img img{
    display: block;
    border-radius: 7px;
    
}

.pg .pg__container .pg__content .pg__image .pg__all .pg__background{
    background-color: rgb(1 28 37 / 50%);
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 7px;
    opacity: 0;
    transform: scale3d(0, 0, 0);
    transition: all 0.3s linear;
}

.pg .pg__container .pg__content .pg__image .pg__all:hover .pg__background{
    opacity: 1;
    background-color: rgba(1, 28, 37, 0.5);
    transform: scale3d(1, 1, 1);
}


.pg .pg__container .pg__content .pg__image .pg__all .pg__background .pg__text{
    transform: scale3d(0, 0, 1);
    transition: all 0.6s linear;
    opacity: 0;
}

.pg .pg__container .pg__content .pg__image .pg__all:hover .pg__background .pg__text{
    transform: scale3d(1,1,1);
    opacity: 1;
}


.pg .pg__container .pg__content .pg__image .pg__all .pg__background .pg__text h3{
    font-size: 25px;
    color: #d0c9c9;
}

.pg .pg__container .pg__content .pg__image .pg__all .pg__background .pg__text p{
    font-size: 17px;
    color: #d0c9c9;
}
/*pg*/

/*custome*/
.custome{
    background-color: #fff;
    padding:48px 0;
}

.custome    .custome__container{
    padding: 48px 0;
}

.custome .custome__container .custome__content{
    text-align: center;
}


.custome .custome__container .custome__content h6{
    font-size: 18px;
    color: #a5a2a2;
}

.custome .custome__container .custome__content h3{
    font-size: 40px;
    color: #3f3a64;
    margin-bottom: 30px;
}

.custome .custome__container .custome__content .custome__all{
    max-width: 860px;
    margin: 0 auto;
}

.custome .custome__container .custome__content .custome__all .custome__img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.custome .custome__container .custome__content .custome__all h3{
    font-size: 22px;
    color: #3f3a64;
}

.custome .custome__container .custome__content .custome__all p{
    background-color: rgb(237 233 225 / 35%);
    padding: 45px;
    font-size: 20px;
    color: #a5a2a2;
}

.custome .custome__container .custome__content .custome__all p i{
    color: #ce6d06;
}

.custome .custome__container .custome__content .custome__all .custome__icon i{
    margin: 0 15px;
    color: #3f3a64;
    margin-top: 48px;
    font-size: 18px;
    cursor: pointer;
}

.custome .custome__container .custome__content .custome__all .custome__icon i:hover{
    color: #ce6d06;
    transition: all 0.3s linear;
}
/*custome*/

/*blog*/

.blog{
    padding: 48px 0;
    background-color: rgb(237 233 225 / 35%);
}

.blog .blog__container{
    padding: 48px 0;
}

.blog .blog__container .blog__content .blog__heading{
    text-align: center;
}

.blog .blog__container .blog__content .blog__heading span{
    font-size: 16px;
    color: #666;
    font-weight: 600;
}

.blog .blog__container .blog__content .blog__heading h3{
    font-size: 45px;
    color: #3f3a64;
}

.blog .blog__container .blog__content .blog__image{
    display: flex;
}

.blog .blog__container .blog__content .blog__image .blog__all{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 15px;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img{
    background-color: #fff;
    border-radius: 10px;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__item{
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__item p{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 20px;
    background-color: #8e43e7;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__item p::after{
    content: "";
    position: absolute;
    border-top: 19px solid #8e43e7;
    transform: translatex(-50%);
    top: 0;
    left: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__item p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translatex(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 19px solid #8e43e7;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img img{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img:hover .blog__item img{
    transition: all 0.3s linear;
    transform: scale(1.1);
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__text{
    padding: 25px;
    display: block;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__text a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    color: #3f3a64;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__iteam{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__iteam a{
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    padding: 10px 35px;
    background-color: #ce6d06;
    display: inline-block;
    border-radius: 30px;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__iteam p{
    font-size: 17px;
    font-weight: 600;
    color: #666;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__iteam p i{
    color: #ce6d06;
}

/*blog*/

/*footer*/
.footer{
    padding: 48px 0;
    background-color: #362d27;
}

.footer .footer__container .footer__content{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0   33.333333%;
    max-width:  33.333333%;
    padding: 15px;
}

.footer .footer__container .footer__content .footer__item   h3{
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__item  h3 i{
    color: #ce6d06;
}

.footer .footer__container .footer__content .footer__item p{
    font-size: 20px;
    font-weight: 600;
    color: #a5a2a2;
    margin-bottom: 15px;
}

.footer .footer__container .footer__content .footer__item .footer__input{
    align-items: center;
    position: relative;
}

.footer .footer__container .footer__content .footer__item .footer__input input{
    font-size: 18px;
    color: #666;
    font-weight: 600;
    background-color: #53453c;
    height: 55px;
    width: 100%;
    padding-left: 30px;
    padding-right: 70px;
    border: none;
    border-radius: 10px;
    outline: none;
}


.footer .footer__container .footer__content .footer__item .footer__input button{
    font-size: 20px;
    height: 55px;
    width: 55px;
    line-height: 55px;
    background-color: #ce6d06;
    border: none;
    padding-left: 0;
    color: #f8f9fa;
    position: absolute;
    right: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
/*footer*/


.header .header__container .header__content .header__icon{
    display: none;
}