.container{
    max-width: 345px;
}

.header .header__container .header__content .header__heading a h1{
    font-size: 25px;
}

.banner .banner__container .banner__content h2{
    font-size: 30px;
}

.banner .banner__container .banner__content p{
    font-size: 16px;
    font-weight: 500;
}

.banner .banner__container .banner__content{
    padding: 15px;
    margin-left: -15px;
}

.wwa .wwa__container .wwa__content .wwa__img{
    flex: 0 0 50%;
    max-width: 50%;
}

.op .op__container .op__image{
    flex-wrap: wrap;
    padding: 0;
}

.op .op__container .op__image .op__item{
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 48px;
}

.os .os__container .os__content{
    flex-wrap: wrap;
    margin-right: 0px;
    display: block;
}

.os .os__container .os__content .os__text{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px;
}


.os .os__container .os__content .os__item{
    flex-wrap: wrap;
    margin: 0px;
}

.os .os__container .os__content .os__item .os__all{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 20px 0;
}

.os .os__container{
    padding: 0;
}

.os .os__container .os__content .os__item .os__all{
    padding: ;
}

.pg .pg__container .pg__content .pg__image{
    grid-template-columns: 1fr;
}

.wwa .wwa__container .wwa__content .wwa__best h3{
    font-size: 30px;
}

.op .op__container .op__content h3{
    font-size: 30px;
}

.os .os__container .os__content .os__text h3{
    font-size: 30px;
}

.os .os__container .os__content .os__text p{
    font-size: 17px;
}

.pg .pg__container .pg__content .pg__heading h3{
    font-size: 30px;
}

.custome .custome__container{
    padding: 0;
}

.custome .custome__container .custome__content h3{
    font-size: 30px;
}

.blog .blog__container .blog__content .blog__heading h3{
    font-size: 30px;
}

.blog .blog__container .blog__content .blog__image .blog__all .blog__img .blog__iteam a{
    font-size: 18px;
}

.footer .footer__container .footer__content .footer__item h3{
    font-size: 30px;
}

.footer .footer__container .footer__content{
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__content .footer__item p{
    font-size: 17px;
}

.os .os__container .os__content .os__item .os__all .os__icon p{
    font-size: 17px;
}

.pg .pg__container{
    padding: 0;
}

.wwa .wwa__container .wwa__content .wwa__best p{
    font-size: 17px  ;
}

.header .header__container .header__content .header__menu{
    display: block;
}

.header .header__container .header__content .header__menu ul#menu{
    display: block;
    position: fixed;
    width: 70%;
    left: 0;
    top: 0;
    background-color: bisque;
    min-height: 100vh;
    text-align: center;
    padding-top: 50px;
    transform: translateX(-150%);
    transition: all 0.5s linear;
}

.header .header__container .header__content .header__menu ul#menu.active{
    transform: translateX(0%);
}

.header .header__container .header__content .header__menu ul li{
    color: chocolate;
    padding: 15px 0;
}