.container{
    max-width: 700px;
}

.header .header__container .header__content .header__menu{
    display: none;
}

.header .header__container .header__content .header__buy{
    display: none;
}

.header .header__container .header__content .header__icon {
    display: flex;
}

.header .header__container .header__content .header__icon i{
    font-size: 25px;
    color: #fff;
    margin-left: 20px;
}

.banner .banner__container .banner__content{
    top: 80%;
    transform: translateY(-80%);
}

.wwa .wwa__container .wwa__content{
    display: flex;
    flex-wrap: wrap;
}

.wwa .wwa__container .wwa__content .wwa__best{
    flex: 0 0 100%;
    max-width: 100%;
}

.wwa .wwa__container .wwa__content .wwa__img{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-top: 40px;
}

.op .op__container .op__image .op__item{
    flex: 0 0 50%;
    max-width: 50%;
}

.os .os__container .os__content{
    display: flex;
    flex-wrap: wrap;
}

.os .os__container .os__content .os__text{
    flex: 0 0 100%;
    max-width: 100%;
}

.os .os__container .os__content .os__item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
    margin-left: -15px;
    margin-left: -15px;
}

.pg .pg__container .pg__content .pg__image{
    grid-template-columns: 1fr 1fr 1fr;
}

.custome .custome__container .custome__content{
    max-width: 100%;
}

.blog .blog__container .blog__content .blog__image{
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}

.blog .blog__container .blog__content .blog__image .blog__all{
    flex: 0 0 100%;
    max-width: 100%;
}
.footer .footer__container .footer__content{
    flex-wrap: wrap;
    margin-left: -15px;
    margin-top: -15px;
}

.footer .footer__container .footer__content .footer__item:first-child{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 50%;
    max-width: 50%;
}

